@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #FEDCC8;

  }
  
  .parallax {
    -webkit-perspective: 100px;
            perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
  }
  .title{
      font-family: 'Homemade Apple';
      color: #2D112B;
      position: absolute;
      top:-550px;
      margin:0 auto;
      width: 100%;
      transform: translateZ(-350px) scale(4.5);
      animation-name:title;
      animation-duration:5s;
      animation-delay:1s;
      animation-fill-mode:both;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
  }
  
  .parallax__cover {
    background: #2D112B;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 5000px;
    z-index: 2;
  }
  
  .parallax__layer__0 {
    -webkit-transform: translateZ(-300px) scale(4);
            transform: translateZ(-300px) scale(4);
  }
  
  .parallax__layer__1 {
    -webkit-transform: translateZ(-250px) scale(3.5);
            transform: translateZ(-250px) scale(3.5);
  }
  
  .parallax__layer__2 {
    -webkit-transform: translateZ(-200px) scale(3);
            transform: translateZ(-200px) scale(3);
  }
  
  .parallax__layer__3 {
    -webkit-transform: translateZ(-150px) scale(2.5);
            transform: translateZ(-150px) scale(2.5);
  }
  
  .parallax__layer__4 {
    -webkit-transform: translateZ(-100px) scale(2);
            transform: translateZ(-100px) scale(2);
  }
  
  .parallax__layer__5 {
    -webkit-transform: translateZ(-50px) scale(1.5);
            transform: translateZ(-50px) scale(1.5);
  }
  
  .parallax__layer__6 {
    -webkit-transform: translateZ(0px) scale(1);
            transform: translateZ(0px) scale(1);
  }
  #stb{
      color: #fff;
      font-family: 'Homemade Apple';
      position: absolute;
      top:15%;
      left: 80%;
      width: 100%;
      -webkit-transform: translateZ(-50px) scale(1.5);
      transform: translateZ(-50px) scale(1.5);
  }
  .profiol{
      position: absolute;
      width: 23%;
      
      margin: 0 auto;
      color: #fff;
      font-family: 'Homemade Apple';
  }
  .fw1{
    top: 20%;
  }
  .profior{
    position: absolute;
    width: 23%;
    
    margin: 0 auto;
    color: #fff;
    font-family: 'Homemade Apple';
}
.fw2{
    top: 30%;
}
.bear{
    top: 40%;
}

  @keyframes title{
    0%{
        opacity: 0;
        color: #2D112B;
    }
    50%{
        
        color: #ffa216;
    }
    100%{
        opacity: 1;
        
        color: #2D112B;
    }
}
@media (max-width:2560px){
    .title{
        left:194%;

    }
    #stb,.profiol{
        left:70%;

    }
    .profior{
        left:16%;
    }
    
}
@media (max-width:1440px){
.title{
    left:240%;

}
#stb,.profiol{
    left:80%;

}
.profior{
    left:55%;
}
}
@media (max-width:765px){
.title{
    left:260%;

}
#stb,.profiol{
    left:80%;

}
.profior{
    left:60%;
}
}

@media (max-width:425px){
.title{
    left:265%;

}
#stb,.profiol{
    left:80%;

}
.profior{
    left:60%;
}
}
@media (max-width:320px){
.title{
    left:265%;

}
#stb,.profiol{
    left:80%;

}
.profior{
    left:60%;
}
}
    
 