@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');

* {
    box-sizing: border-box;
    position: relative;
}

html,
body {
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 14px;
    
}
.topbar{
    background-color: rgb(2, 2, 2);
    height: 28px;
    width: 100%;
}
.logo{
   padding: 24px;
}
#menu{
   background-color: rgb(235, 235, 235);
   padding: 14px 0;
}
#menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu  .nav-pills .show > .nav-link{
  background-color: white;
 
}
#menu .nav-link{
    color: black;
}


.banner{
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url(../img/earth.png) ;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.banner h4{
    display: inline-block;
    margin: 50px auto 0 auto;
    color: white;
    font-family: 'Abril Fatface';
    letter-spacing: 1px;
}
.banner h2{
    color: white;
    padding: 1rem 3rem;
    margin: 320px 0;
    text-align: center;
    transition: all 1s;
    font-family: 'Abril Fatface';
    letter-spacing: 2px;

}

#collections{
    padding: 80px 0;
}
#collections h3{
    font-family: 'Abril Fatface';
    margin-bottom: 24px;
}
#collections .card-title{
    font-family: 'Abril Fatface';

}
.pos-banner{
    width: 100%;
    
    background-color: rgb(209, 209, 209);
}
.pos-banner .card{
    background-color: rgb(209, 209, 209);
    border: none;
    color: white;
    padding: 100px 0;
}
.pos-banner .card .card-title{
    font-family: 'Abril Fatface';
    letter-spacing: 2px;
}
.pos-banner .greenfish{
    margin-top: 40px;
}
.cal-banner .blueowl{
    margin-bottom: 40px;
}
.cal-banner .card{
    border: none;
   
    padding: 100px 0;
}
.cal-banner .card .card-title{
    font-family: 'Abril Fatface';
    letter-spacing: 2px;
}
.can-banner{
    width: 100%;
    background-color: rgb(230, 230, 230);
}
.can-banner .card{
    background-color: rgb(230, 230, 230);
    border: none;
    padding: 100px 0;
}
.can-banner .card .card-title{
    font-family: 'Abril Fatface';
    letter-spacing: 2px;
}
.can-banner .canpic{
    margin: 55px 0;
}
.subscribe{
    padding: 80px 0;
}
.subscribe .card{
    border: none;
}
.subscribe .card-title{
    font-family: 'Abril Fatface';
    letter-spacing: 2px;
}
.footer{
    padding: 0 0 32px 0;
}
.footer ul{
    list-style: none;
    padding: 0;
}
.footer .link-tit{
    font-family: 'Abril Fatface';
    letter-spacing: 2px;
}
.footer-link{
    color: rgb(155, 155, 155);
}
@media (max-width:576px){
    .banner h2{
        font-size:20px ;
    }
}

/* stickers */
#stickers{
    padding: 80px 0;
}
#stickers h3{
    font-family: 'Abril Fatface';
    margin-bottom: 24px;
}
#stickers .card-title{
    font-family: 'Abril Fatface';

}
#stickers .card{
    text-align: center;
}
#stickers span{
    color: gray;
}